<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>User</th>
      <th>Status</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < history.length; i++){ %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= history[i].name %></td>
      <td><%= history[i].user %></td>
      <td><%= history[i].status %></td>
      <td><%= moment(history[i].createdAt).format("YYYY-MM-DD HH:mm"); %></td>
      <td><%= moment(history[i].updatedAt).format("YYYY-MM-DD HH:mm"); %></td>
    </tr>
    <% } %>
  </tbody>
</table>
